:root{
    --body-color:white;
    --nav-color:white;
    --navbar-color:black;
    --navbarlink-color:black;
    --dark_light-color:black;
    --carousel-color:rgb(36, 94, 74);
    --gender-color:rgb(49, 189, 189);
    --genderindicator-color:rgb(49, 189, 189);
    --footer-color:#2c3e50;
    --footertext-color:white;
    --cars-color:white;
    --owl-color: rgb(248 221 123);
    --owlcontrol-color:black;
    --offerborder-color:bisque;
}

.dark_theme{
    --body-color:black;
    --nav-color:black;
    --navbar-color:white;
    --navbarlink-color:white;
    --dark_light-color:white;
    --carousel-color:black;
    --gender-color:white;
    --genderindicator-color:rgb(49, 189, 189);
    --footer-color:black;
    --footertext-color:white;
    --cars-color:white;
    --owl-color: rgb(248 221 123);
    --owlcontrol-color:white !important;
    --offerborder-color:white;
}

body { 
    padding-top: 65px; 
    background-color: var(--body-color);
}
/*navbar css*/
.navbar{
   height: auto;
   background-color: var(--nav-color) !important;
   margin-bottom: 10px;
   color: var(--navbar-color);
  
}
.navbar div ul li a{
    color: var(--navbarlink-color);
}
.navbar div ul li a:hover{
    color: var(--navbarlink-color);
}
.postion_search{
    position: absolute;
    top: 29.5px;
    left: 48%;
    color:black;
}
.theme{
    color:var(--dark_light-color);
    font-size: 22px;
}
/* .items_list{
    position: absolute;
    top: 16.4px;
    left: 51.3%;
    background-color: rgb(184,34,46);
    color:white;
    width:15px;
    font-size: 10px;
    text-align: center;
}
.cart_list{
    position: absolute;
    top: 16.4px;
    left: 54.3%;
    background-color: rgb(184,34,46);
    color:white;
    width:15px;
    font-size: 10px;
    text-align: center;
} */

#coupon {
    height: 55vh;
    width: 30%;
    position: absolute;
    top: 12%;
    left: 40.2%;
    z-index: 100;
    margin: auto;
}

#coupon button{
    position: relative;
    top: 37px;
    left: 94%;
    border: none;
    background-color: #f6c52e;

}

#coupon img{
    width: 100%;
    height: 100%;
}


/*main_carousel css*/
.main_carousel_img{
    height: auto;
    margin-top: 10.9px;
    margin-bottom: 45px;
}

.main_carousel_indicators{
    bottom: -22px;
    left:100px;
}
.main_carousel_indicators [data-bs-target]{
    background-color: var(--carousel-color) !important;
}

/*wallet carousel css*/
.wallet_carousel_img{
    margin-top: -10px;
    height:auto;
    margin-bottom: 45px;
}
.wallet_carousel_img:hover{
  transform: scaleY(1.05);
}
.wallet_carousel_indicators{
    bottom: -20.1%;
    right: -32px;
}
.wallet_carousel_indicators [data-bs-target]{
    background-color: var(--carousel-color) !important;
}
.img-thumbnail{
    height:80%
}


/*extra offer card css*/
.extra_offer_card .offer-carousel{
    height: auto;
    width: 100%;
}
.offer_image{
    width:100%;
}
.offer_image img{
    width: 100%;
    margin-left: 10px;
    border: 1px solid var(--offerborder-color);
    margin-bottom: 40px;
}


/*her carousel css*/
.her_carousel_img{
    height:auto;
    margin-bottom: 45px;
    outline: none;
}
.her_carousel_img{
    text-align: center;
    color: var(--gender-color);
    font-style: italic;
}
.her_carousel_indicators{
    bottom: -22px;
    left: 100px;
}
.her_carousel_indicators [data-bs-target]{
    background-color: var(--genderindicator-color) !important;
}


/*him carousel css*/
.him_carousel_img{
    height:auto;
    margin-bottom: 50px;
}
.him_carousel_img div h2{
    text-align: center;
    color: var(--gender-color);
    font-style: italic;
}
.him_carousel_indicators{
    bottom: -22px;
    left: 100px;
}
.him_carousel_indicators [data-bs-target]{
    background-color: var(--genderindicator-color) !important;
}


/*additional offer carousel css*/
.additional_carousel{
   margin-top:20px;
   margin-bottom: 50px;
   height: 20vh;
}
.additional_carousel_indicators{
    bottom: -35px;
    right:25px;
}
.discount{
    height:17vh;
}
.additional_carousel_indicators [data-bs-target]{
    background-color: var(--carousel-color) !important;
}


/*offer carousel css*/
.offer_carousel_img{
    height:auto;
    margin-bottom: 50px;
}


/*combine carousel css*/
.combine_carousel_img{
    height:auto;
    margin-bottom: 50px;
}
.combine_carousel_indicators{
    bottom: -25px;
    left: 100px;
}
.combine_carousel_indicators [data-bs-target]{
    background-color: var(--carousel-color) !important;
}
.carousel-control-prev, .carousel-control-next{
    background-color: var(--owlcontrol-color);
}


/*premium brands card css*/
.premium_brands{
    height:auto;
    width: 100%;
    margin-bottom: 40px;
}
.premium_brands div>h2{
    text-align: center;
    color: var(--gender-color);
    font-style: italic;
}
.premium_brands, .row{
    width: 100%;
}
.brand_img{
    width: 25%;
}
.brand_img img{
    width: 100%;
    margin-left: 10px;
}

/*footwear card css*/
.footwear_card{
    height:auto;
    width: 100%;
    margin-bottom: 40px;
}
.footwear_card div>h2{
    text-align: center;
    color: var(--gender-color);
    font-style: italic;
}
.footwear_card .img-carousel{
    width: 100%;
}
.img-carousel .owl-item{
    width:16% !important
}
.owl-nav i {
    font-size: 35px;
  }
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
     display: none;
}

.owl-nav .owl-prev {
    position: absolute;
    left: -4px;
    top:42%;
    background-color: var(--owl-color) !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
  }
  
.owl-nav .owl-next {
    position: absolute;
    right:-5px;
    top:42%;
    background-color: var(--owl-color) !important;
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important;
  }
.footwear_image{
    width: 100%;
}
.footwear_image img{
    width: 100%;
    margin-left: 10px;
}

/*products card css*/
.product_card{
    height:auto;
    width: 100%;
    margin-bottom: 40px;
}
.product_card div>h2{
    text-align: center;
    color: var(--gender-color);
    font-style: italic;
}
.product_card .row {
    width: 100%;
}
.product_image{
    width: 25%;
}

.product_card .offer-carousel{
    width: 100%;
}
.product_image_unmissable{
    width: 100%;
}

.product_image_unmissable img{
    width: 100%;
} 

.product_image img{
    width: 100%;
    margin-left: 10px;
}

/*cares section css start*/
.cares{
    width: 100%;
    margin-top:20px;
    height: auto;
    border:2px solid rgba(228, 228, 166, 0.973);
    background-color: var(--footer-color);
    color: var(--footertext-color);
    text-align: center;
    cursor: pointer;
}  
.cares div>h2{
    color: rgba(228, 228, 166, 0.788);
}
/*cares section css end*/

/*quality section css start*/
.quality{
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
    background-color: var(--cars-color);
}
.quality div div h6{
    margin-top:6px;
}
/*cares section css end*/


/*footer section css start*/
.footer_hub{
    width: 100%;
    height: auto;
    background-color: var(--footer-color);
    color: var(--footertext-color);
}
.footer_link{
    padding: 40px 5px;
}
.footer_link span{
    margin-left: 32px;
}
.footer_link ul{
    margin-top: 20px;
}
.footer_link ul li{
    list-style: none;
    margin: 3px 0;
    font-size: 12px;
}
.footer_link ul li a{
    text-decoration: none;
    color: white;
}
.footer_link ul li a:hover{
    text-decoration: underline;
}
.payment_section{
    width:100%;
    padding-bottom: 5px;
}
.security_margin{
    margin: auto;
}
hr{
    margin-left: 25px;
    width:93%;
}
/*footer section css end*/
@media only screen and (min-width: 992px) and (max-width:1199px){
    #coupon {
        width: 33%;
        top: 16%;
        left: 32%;
        height: 60vh;
    }
    #coupon button{
        top: 37px;
        left: 93%;
    
    }
 }

@media only screen and (min-width: 992px) and (max-width:1024px){
   .navbar{
       font-size: 10px;
   }
   .postion_search{
    top: 37%;
    left: 56%;
    font-size: 16px;
}
}

@media only screen and (min-width: 1025px) and (max-width:1180px){
    .postion_search{
        top: 37%;
        left: 53%;
        font-size: 16px;
    }
 }

 @media only screen and (min-width: 1134px) and (max-width:1240px){
    .postion_search{
        top: 37%;
        left: 50%;
    }
 }
@media only screen and (min-width: 1025px) and (max-width:1179px){
    .navbar{
        font-size: 12px;
    }
    .postion_search{
        top: 37%;
        left: 57%;
        font-size: 16px;
    }
 }

@media only screen and (min-width: 768px) and (max-width:991px){
    .footer_link{
        padding: 10px 5px;
    }
    .footer_link ul{
        margin-top: 10px;
    }
    hr{
        margin-left: 20px;
        width:90%;
    }
    .security_margin{
        margin-top: -10px;
        margin-left: 50px;
    } 
    .security_margin img{
        margin-left: -10px;
    }
    .cares div>h5{
        font-size: 14px;
    }
    .postion_search{
        top: 44%;
        left: 94%;
    }
    #coupon {
        width: 42%;
        top: 18%;
        left: 24%;
        height: 62vh;
    }
    #coupon button{
        top: 37px;
        left: 93%;
    
    }
    .main_carousel_indicators{
        bottom: -23px;
        left:165px;
    }
    
    .wallet_carousel_indicators{
        bottom: -36.1%;
        right: -29px;
    }
}

@media only screen and (min-width: 576px) and (max-width:767px) {
     
     .footer_link{
        padding: 10px 5px;
    }
    .footer_link ul{
        margin-top: 10px;
    }
    hr{
        margin-left: 10px;
        width:90%;
    }
    .security_margin{
        margin-top: -10px;
        margin-left: -3px;
    } 
    .cares div>h5{
        font-size: 14px;
    }
    .postion_search{
        top: 44%;
        left: 94%;
    }

    #coupon {
        width: 63%;
        top: 18%;
        left: 18.2%;
        height: 68vh;
    }
    #coupon button{
        top: 37px;
        left: 93%;
    
    }
    .main_carousel_indicators{
        bottom: -23px;
        left:150px;
    }
    
    .wallet_carousel_indicators{
        bottom: -47.1%;
        right: -45px;
    }
    
}

@media only screen and (min-width: 320px) and (max-width:575px) {
     .footer_hub{
         text-align: center;
     }
    .footer_link{
       padding: 4px 5px;
   }
   .footer_link ul{
       margin-top: 10px;
   }
   hr{
       margin-left: 5%;
       width:90%;
   }
   .security_margin{
       margin-left: 10px;
   } 

   .cares div>h2{
    font-size: 22px;
    margin-left: 10px;
  }
   .cares div>h5{
       font-size: 10px;
       margin-left: 10px;
   }
   .quality{
    text-align: center;
   }
   .quality div div img,h6{
    margin-left:35px;
}
   .postion_search{
    top: 44%;
    left: 88%;
}

#coupon {
    width: 83%;
    top: 12%;
    left: 9.2%;
}
#coupon button{
    top: 30px;
    left: 91%;
}
.main_carousel_indicators{
    bottom: -23px;
    left:100px;
}

.wallet_carousel_indicators{
    bottom: -89.1%;
    right: -30px;
}
   
}

